<div class="main">
    <h1>Инфо за проекта</h1>
    <p>Има 2 основни страници Dogs и Breaking bad, както и 404 страница за всички други routes.</p>
    <p>Dogs страницата е доста проста. Работи със dogs API, където просто се зарежда една рандъм снимка на куче. Има бутон, който прави нов рекуест и сменя снимката</p>
    <p>Breaking bad страницата работи с Breaking bad API и зарежда 10 рандъм quotes. Може да добавяме нови quotes, след презареждане нашите quotes се трият от паметта и се зареждат нови 10 рандъм quotes.</p>
</div>